.login{
    position:absolute;
    background:white;
    height:50%;
    width:20%;
    top:25%;
    left:15%;
    border:2px white solid;
    border-radius:5px;
    box-shadow:0px 0px 8px rgb(200,200,200);
}

#user{
    position:absolute;
    top:35%;
    width:90%;
    left:3%;
}

#userLabel{
    position:absolute;
    top:30%;
    left:3%;
}

#pass{
    position:absolute;
    top:55%;
    width:90%;
    left:3%;
}

#passLabel{
    position:absolute;
    top:50%;
    left:3%;
}

#submit{
    position:absolute;
    top:70%;
    width:25%;
    left:37.5%;
}

body{
    background:gainsboro;
}

#error{
    position:relative;
    
/*     border: 2px black solid; */
    color:red;
    text-align:center;
    top:10%;
}